services:
  validator:
    build: .
    volumes:
      - ./ledger:/ledger
      - ./environments:/opt/sealevel/environments
    entrypoint: ["/opt/solana/entrypoint.sh"]
    ports:
      - "8899:8899"
      - "8900:8900"
  init:
    build: .
    entrypoint: ["/opt/solana/init.sh"]
    volumes:
      - ./environments:/opt/sealevel/environments
      - ../../registry:/opt/registry
    depends_on:
      validator:
        condition: service_started
