services:
  solana_validator:
    build: .
    volumes:
      - ./ledger:/ledger:rw
      - ./environments:/opt/sealevel/environments:ro
    entrypoint: ["/opt/solana/entrypoint.sh"]
    healthcheck:
      test: ["CMD", "solana", "cluster-version", "-u", "localhost"]
      interval: 5s
      timeout: 2s
      retries: 5
    ports:
      - "8899:8899"
      - "8900:8900"
  solana_hyp_init:
    build: .
    entrypoint: ["/opt/solana/init.sh"]
    volumes:
      - ./environments:/opt/sealevel/environments:rw
      - ../../registry:/opt/registry:ro
    depends_on:
      solana_validator:
        condition: service_healthy
